.fifth-box{
    display: flex;
    flex-direction: column;
    padding: 60px;
    
    
    .comments {
    display: flex;
    justify-content: center;
   }
  
    h2 {
      text-align: center;
    }
    
    section {
      padding: 40px;
      width: 30%;
    }
  
    img {
      border-radius: 50%;
      width: 40%;
      box-shadow: grey 2px 2px 2px;
    }
  
    h3 {
      padding: 10px;
    }
    p {
      color: gray;
      line-height: 1.8rem;
    }
  }